.App {
  text-align: center;
}
.parent_div{
  background-color: darkgrey;
  color: white;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  height: 100vh;
  padding-top: 15px;
}
.upper_half{
  /* width: 200px; */
}
.lower_half{
  background-color: red;
  margin-top: 15px;
  width: 50% ;
  padding: 8px;
  margin-left: 23%;
}
.input_div input{
  /* background-color: #61dafb; */
  border-radius: 5px;
  padding: 5px 5px;
  /* color: aliceblue; */

}
.btn button{
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 20px ;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  cursor: pointer;
}
.item{
  background-color: aliceblue;
  text-align: center;
  color: #282c34;
  padding: 15px;
  border-radius: 15px;
  margin-top:px ;
  height: 45px;
  cursor: pointer;
  box-shadow: #282c34;
}
.item :hover{
  /* background-color: #282c34; */
  /* box-shadow:yellowgreen ; */
}
.add_btn{
  color: #282c34;
  background-color: red;
  border-radius: 5px;
  /* padding: px 1px; */
  border: none;
  margin-left: 1px;
  font-weight: bold;
  width: 100px;
}
.deleteAll_btn{
  color: #282c34;
  background-color: red;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  font-weight: bold;

  width: 100px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
